@media (min-width: 768px){
    div #form-informations{
        width: 91%;
    }
    
    div #form-submit{
        width: 8%;
    }

    article{
        width: 49%;
    }
}

body{
    min-width: 400px;
}

.task-functions button{
    box-shadow: 0 0 0.4em rgb(73, 73, 73);
    margin: 0rem 0.15rem;
    border-radius: 0.5rem;
    padding: 0rem 0.25rem;
}

.task-title{
    word-break: break-word;
}

.task-functions{
    min-width: 96px;
}

button:disabled{
    opacity: 30%;
}

